@import "~antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

body{
    background-color: #0d497b78;
}
